

h1 {
    text-align: center;
}

    
h2 {
    font-family: 'calibri';
    text-align: center;
}

p {
    font-family: 'calibri';
    font-size: 20px;
    align-content: center;
    }

h3 {
    margin-top: 5px;
    text-align: center;
    white-space:pre;
    color: black;
}

h4 {
    text-align: center;
    color: white;
}


.navbar {
    background-color:steelblue;
}


.navbar .nav li a{
    color: white;
    font-family: 'calibri';
    font-size: 20px;
    letter-spacing: 4px;
    
}

  .navbar .navbar-brand {
    color: white;
    font-size:30px;
    
  }
     
  .navbar {
      
      border-radius:0px;
      border-color:steelblue;
  }

.jumbotron{
    height: 400px;
    background-color:dimgray;
    margin-top:-25px;
}

    
    
.carousel-inner {
    width: 100%;
}


#jumboEmail {
    font-style: italic;
    font-size: 18px;
    font-family:  'Calibri';
    border-radius: 5px;
    border-color:white;
    height: 37px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    
}

#btn1 {
    margin-left: 78px;
    font-size: 17px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#f1 {
    text-align: center;
    margin-left: -50px;
}

#i1 {
     font-size: 200px;
    
}


.tales {
  width: 100%;
}

.carousel-inner{
  width:100%;
  max-height: 400px ;
}

#para {
    font-size: 20px;    
    text-align: center;
}